/* You can add global styles to this file, and also import other style files */
:root {
  --theme-color: #13244E;
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  font-size: 15px;
  background-color: #e5e5e5;
}

.bg-theme {
  background-color: var(--theme-color);
}
.text-theme {
  color: var(--theme-color);
}
.logo {
  color: #5A99C4;
  font-weight: 600;
}

.logo .s {
  width: 32px;
  height: 32px;
  padding: 6px 12px;
  color: #fff;
  border-radius: 50%;
  background: linear-gradient(180deg, #13244E 0%, #75C5F0 100%);
}
.pointer {
  cursor: pointer;
}
