<div class="bg">
<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="menu-icon bi bi-distribute-vertical" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M1 1.5a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 0-1h-13a.5.5 0 0 0-.5.5zm0 13a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 0-1h-13a.5.5 0 0 0-.5.5z"/>
        <path d="M2 7a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7z"/>
      </svg>
    </div>
    <div class="col-10">
      <div class="row m-0">
        <div class="col-md-4 offset-md-4">
          <div class="card border-0">
            <svg width="5.3em" height="5.3em" viewBox="0 0 16 16" class="icon orange bi bi-bell-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
            </svg>
            <div class="card-body text-theme">
              <div class="info w-75 float-left">
                <p class="title m-0">Notifications Center</p>
                <p class="more-info m-0">You have <span class="font-weight-bold">2</span> unread notifications</p>
              </div>
              <div class="box text-white orange w-25 float-right">
                <span class="inner-box">2</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-0">
            <svg width="8em" height="8em" viewBox="0 0 16 16" class="icon blue bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
            <div class="card-body text-theme">
              <div class="info w-75 float-left">
                <p class="title m-0">Chdimma Nwanya</p>
                <p class="more-info m-0">Vanity By Juls</p>
              </div>
              <div class="box text-white bg-theme w-25 float-right">
                <span class="inner-box text-center">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-power h4 m-0" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z"/>
                    <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z"/>
                  </svg>
                  <p class="more-info m-0">Logout</p>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
